.cartContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #84449a;
}
.itemCountContainer{
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin-left: -10px;
}
.itemCount{
  color: aliceblue;
  font-size: .85rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body, html{
      background-image: url("./assets/paper.png");
      background-size: cover;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body, html{
      background-color: red;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body, html{
      background-color: blueviolet;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body, html{
      background-color: blue;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body, html{
      background-color: yellow;
  }
}